.impression-detail__button {
  margin: 0 4px 8px 0;
}

.impression-detail__label {
  text-align: right;
}

@media only screen and (max-width: 767.99px) {
  .impression-detail__label {
    text-align: left;
  }
}

.impression-detail__label label::after {
  content: ':';
  margin: 0 8px 0 2px;
  position: relative;
  top: -0.5px;
}

.impression-detail .ant-collapse {
  margin-bottom: 4px;
}
