@media only screen and (max-width: 767.99px) {
  .popover-menu .ant-popover-inner {
    overflow: hidden;
  }

  .popover-menu .ant-popover-inner-content {
    padding: 0;
  }

  ul#nav,
  ul#nav li {
    width: 100%;
  }
  ul#nav li {
    line-height: 40px;
    height: 40px;
    border: 0;
  }

  .nav-icon {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
  }
}
